# Google Apps Script mailing list endpoint
# Deploy the script from scripts/google/mailing-list.gs and paste the URL here
NEXT_PUBLIC_MAILING_LIST_ENDPOINT=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
